<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
     
       <add name="LicitacijaFonNst"
             connectionString="
                              provider=System.Data.SqlClient 
                              provider connection string= 
                              &quot;data source=ASPIRE\MSSQLSERVER2014; 
                              initial catalog=LicitacijaFonNstV5; 
                              integrated security=True; 
                              multipleactiveresultsets=True;&quot;"
          providerName="System.Data.EntityClient" />
     
    <!--<add name="LicitacijaFonNst"
      connectionString="Data Source=ASPIRE\MSSQLSERVER2014;
      Initial Catalog=LicitacijaFonNstV5;
      Persist Security Info=True;
      User Id=sa;
      Password=WindoWs2008"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>